*{
    background-color: #dfc3ef;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 200px;
    margin: 10vh auto 0
    box-shadow: 0px 0px 43px 17px;
}

#display{
text-align: right;
height: 70px;
line-height: 70px;
padding: 16px 8px;
font-size: 25px;
}

.buttons{
    display: grid;
}